.head-img img{
    length: 125px;
    width: 220px;
}

.blog-box{
    border-bottom: 1px dashed darkgoldenrod;
    margin-bottom: 25px;
    padding-bottom: 15px;
}

body{
    color: rgb(51, 51, 51);
    font-family: Arial, 微软雅黑, "Microsoft yahei", "Hiragino Sans GB", "冬青黑体简体中文 w3", "Microsoft Yahei", "Hiragino Sans GB", "冬青黑体简体中文 w3", STXihei, 华文细黑, SimSun, 宋体, Heiti, 黑体, sans-serif;
}

.blog-summary-btn{
    margin-top: 5px;
    margin-bottom: 5px;
}

.fa-star{
    color: #d43f3a;
}

.fa-comment-o{
    color: #a6e1ec;
}

.fa-wechat{
    color: #4cae4c;
}

.blog-summary-btn,.blog-summary{
    opacity: 0.7;
}

.comment_box .comment-comment,.comment-date{
    margin-left: 30px;
}

.comment_box .comment-author{
    color:#369;

}

.comment_box .comment-date{
    color:darkgray;

}

.chat-box{
    height: 500px;
    border: 1px solid greenyellow;
}

.contact-list{
    height: 100%;
    border: 1px solid crimson;
}

.dialog-box{
    height: 100%;
    border: 1px solid purple;
    margin-bottom: 0px;
}

.dialog-box-msg textarea{
    height: 100%;
    width: 100%;
    resize: none;
}

.dialog-box-header{
    height: 10%;
    border-bottom: 1px greenyellow dashed;
}

.dialog-box-content{
    height: 70%;
    border-bottom: 1px #5A55A3 solid;
    overflow:auto;
}

.dialog-box-utils{
    height: 5%;
}
